body {
  background-color: lightblue;
}

h1 {
  color: rebeccapurple;
  text-align: center;
}

h2 {
  color: rgb(56, 145, 34);
  text-align: right;
}

img.sinistra {
  width: 300px;
  border-radius: 50px;
  float: left;
  margin-right: 25px;
}

em {
  color: red;
}
